<configuration>
  <appender name="GELF" class="org.graylog2.logback.GelfAppender">
    <facility>logback-gelf-test</facility>
    <host>localhost</host>
    <port>12201</port>
    <additionalField>ipAddress:_ip_address</additionalField>
    <additionalField>requestId:_request_id</additionalField>
  </appender>

  <root level="debug">
    <appender-ref ref="GELF" />
  </root>
</configuration>
